<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>


<body>

<h3>scegli un oggetto da aggiungere</h3>

<form action="#" th:action="@{/gotoShopping}" th:object="${item}" method="get">
    <select th:field="*{code}">
        <option th:each="item : ${items}" th:text="${item.name}" th:value="${item.code}">
    </select>
    <input type="submit" value="aggiungi" />
</form>
<!--
<form action="#" th:action="@{/aggiungiItem}" th:object="${item}" method="get">
    <select th:field="*{code}">
        <option th:each="item : ${items}" th:value="${item.code}"> <a th:text="${item.name}"/> - <a th:text="${item.price}"/></option>
    </select>
    <p><input type="submit" value="AGGIUNGI" /> <input type="reset" value="Reset" /></p>
</form>-->

<!--<button type="button" th:attr="onclick=|myFunction('${item}')|">AGGIUNGI</button>-->
<!--<button type="button" th:attr="onclick=|myFunction(\'' + ${items.item.getString('code')} +'\',\''+ ${items.item.getString('name')} + '\',\''+ ${items.item.getString('price')} + '\')|">AGGIUNGI</button>-->
<!-- <button type="button" id="itempTmp" th:value="${item}" th:attr="onclick=|myFunction()|">AGGIUNGI</button>-->
<!--<button type="button" th:attr="onclick=|myFunction([[${code}]],[[${name}]],[[${price}]])|">AGGIUNGI</button>-->

<table border="1" id="myTable">
    <thead>
        <tr>
            <th>codice</th>
            <th>nome</th>
            <th>prezzo</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${shoppingTmp}">
        <td><span th:text="${item.code}"></span></td>
        <td><span th:text="${item.name}"></span></td>
        <td><span th:text="${item.price}"></span></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/gestioneCarrello}"> salva carrello </a>


</body>

</html>