<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'Benvenuto: ' + ${user.username}" />

<a th:href="@{/goToProfilo}"> PROFILO </a>
<a th:href="@{/goToCarrello}"> CARRELLO </a>
<a th:href="@{/goToOrdini}"> ORDINI </a>



<!-- <form ACTION="#" th:action="@{/goToCarrello}" th:object="${item}" method="POST">
    <input type="hidden" th:field="*{item}"/>
    <button type="submit">Submit</button>
</form> -->


</body>
</html>