<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all"
          href="../../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

<h1>Order list</h1>

<table>
    <tr>
        <th>DATE</th>
        <th>CUSTOMER</th>
        <th>TOTAL</th>
        <th></th>
    </tr>
    <tr th:each="ordine : ${ordini}">
        <td><span th:text="${ordine.codice}"></span></td>
        <td><span th:text="${ordine.prezzo}"></span></td>
    </tr>
</table>

<p>
    <a th:href="@{/dopoOrdine}"> ritorna Homepage </a>
</p>

</body>

</html>