<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Welcome to your Profile</h1>
<form action="#" th:action="@{/goToHomepage}" th:object="${user}" method="post">
    <p>username: <input type="text" th:field="*{username}" th:value="${user.username}" /></p>
    <p>password: <input type="password" th:field="*{password}" /></p>
    <p>email: <input type="text" th:field="*{email}"  th:value="${user.email}" /></p>

    <p>
        <input type="submit" value="MODIFICA" />
    </p>
</form>

</body>
</html>